<p>
    The second form that you may need is 
the BCI Disclaimer Form. This form lets 
you obtain a background check report to 
file with your Change of Name form and it 
should already be ready for the notary. 
Do <strong>not</strong> sign it until you 
are with a notary.
</p>