<p>
{% if age < 18 %}
        The filing location is located at {{ court.address }}. 
    Bring the Change of Name form, the certified copy of your 
    birth certificate, the BCI Report, and photo ID. The courts 
    are not in session every day so the clerk will tell 
    you when your hearing date will be when you file. 
    According to our data the filing fee will be 
    {{ filingCost }}. We recommend calling ahead 
    at {{ court.phone }} to ensure that the town/probate 
    clerk is available and to double check what payment 
    types that they accept. Generally speaking though if you 
    bring cash, check, and card you are good to go anywhere.
{% else %}
    {% if county == East Providence %}
        The filing location is the East Providence Family court 
        which is located at 1 Dorrance St, Providence, RI 02903.
    {% else %}
        The filing location is located at {{ court.address }}.
    {% endif %}
    You and your parents/guradians should bring the Change 
    of Name form, the certified copy of your 
    birth certificate, the BCI Report, and their photo IDs. The courts 
    are not in session every day so the clerk will tell 
    your parents/guardians when the hearing date will be when they file. 
    According to our data the filing fee will be 
    {{ filingCost }}. 
    {% if county == East Providence %}
        We recommend calling ahead 
        at {{ court.phone }} to ensure that the town/probate 
        clerk is available and to double check what payment 
        types that they accept. Generally speaking though if you 
        bring cash, check, and card you are good to go anywhere.
    {% else %}
        We recommend calling ahead at (401) 458-3200 to ensure 
        that the clerk is available and to double check what payment 
        types that they accept.
    {% endif %}
{% endif %}
</p>

<p>
{% if advertisementRequired == True %}
        The court will publish details regarding your name change for 
    you in one of the following paper(s):
    {% for loc in publications %}
            <li>{{ loc.name }}, <a href="{{ loc.website }}">{{ loc.website }}</a></li>
    {% endfor %}`
{% endif %}
</p>

{% if court.specificCourtInfo %}
	<p>{{ court.specificCourtInfo }}</p>
{% endif %}