<p>
    To update your primary ID you will need the following 
two forms, the Application for a License, Identification 
Card and Permit (LI-1) for changing name and the Gender Designation on a 
License or Identification Card for changing gender. For the LI-1 form you will 
need to select what type of primary ID you want in the two 
boxes on the top left of the form. From there review section 
A and fill in any blanks that are applicable to you (such 
as social security and/or driver's license number). Complete 
sections C & D as it pertains to you and ignore sections E & F.

{% if age < 18 %}
    Finally sign in section G.
{% else %}
    Your parent/legal guardian will need to sign for you in section G.
{% endif %}
</p>

<p>
    As for the gender designation form, fill in your social 
security number and driver's license number (if applicable) 
then sign at the bottom.
</p>

<p>
    You will need to schedule an in-person appointment at your 
local DMV location, all Rhode Island locations are listed 
<a
href="here">https://dmv.ri.gov/locations-hours</a>. 
You will need both forms, your current ID, your court 
order, and the receipt from social security. If you don’t 
have a driver's license or state ID then bring the documents 
you used as ID for social security. It is unusual but not 
impossible for them to ask for proof of identity and proof 
of residency as well. Proof of identity and proof of residency 
documents are listed on the top of page 3 in the LI-1 form. 
Proof of residency just needs to have your current address 
and old legal name on it like bills or mail.
</p>

<p>
    When you arrive, state that you want to update the name and/or 
gender marker on your driver's license or state ID and 
present the above documents to the clerk. If you do not 
already have a driver’s license or state ID, tell the clerk 
that you are applying for one; the appointment should 
proceed normally. Make sure the gender marker is set correctly 
before you leave.
</p>