 form {
	 display: grid;
	 grid-template-columns: minmax(auto, 20ch) 1fr;
	 grid-gap: 1rem;
	 align-items: center;
 }

 form div {
	 text-align: right;
	 line-height: 1;
 }

 form span {
	 font-size: smaller;
	 color: #777;
 }
