<p>
{% if age < 18 %}
        You will need a notary to witness your signature and provide 
    their own. Notaries can be found in court buildings, banks, some <a
    href="UPS locations">https://www.theupsstore.com/tools/find-a-store</a>
    , or <a
    href="online">https://www.notarize.com/</a>. You will be charged 
    a fee for this required service. Once you have met with one 
    to get the required signature and stamp you are ready to file.
{% elif age < 14 %}
        You and your parent/guardian(s) will need a notary to witness 
    all of your signatures and provide their own. If both parents 
    signed below item 31 then both will need to meet with the 
    notary at the same time with you. Notaries can be found in 
    court buildings, banks, some <a
    href="UPS locations">https://www.theupsstore.com/tools/find-a-store</a>
    , or <a
    href="online">https://www.notarize.com/</a>. They will be charged a 
    fee for this required service. Once they have met with the 
    notary to get all of your required signatures they are ready 
    to file on your behalf.
{% else %}
        Your parent/guardian(s) will need a notary to witness their 
    signature(s) and provide their own. If both parents signed 
    below item 31 then both will need to meet with the notary at 
    the same time. Notaries can be found in court buildings, banks, some <a
    href="UPS locations">https://www.theupsstore.com/tools/find-a-store</a>
    , or <a
    href="online">https://www.notarize.com/</a>. Your parent/legal 
    guardian(s) will be charged a fee for this required service. Once 
    they have met with one to get the required signature they are 
    ready to file on your behalf.
{% endif %}
</p>