<p>
{% if age > 18 %}
    The Name Change and/or Sex Designation Change Petition for 
Individual Minor (UCS-NC2) has some sections that you will 
need to fill out and others you will need to review. Look 
through sections A, B, and C to see if the information is 
accurate. If not, fill out the missing info, with black ink 
if already printed. Your parent/legal guardian(s) will need 
to file this on your behalf. If both parents are willing to 
meet with a notary at the same time they will need to both 
sign below item 31. If they both sign or otherwise give 
consent on page 4 then there is no court hearing and you 
are ready for the next section. If you have a non-consenting 
parent/guardian with custody over you the process gets more 
complicated, there will be a hearing, and we recommend using 
the following link to assist in the process <a
href="https://lawhelpinteractive.org/Interview/GenerateInterview/5031/engine">https://lawhelpinteractive.org/Interview/GenerateInterview/5031/engine</a>
. It will generate the paperwork and instructions for the 
particulars of your case. Otherwise we recommend getting 
a lawyer to assist with your case or wait until you are 18.
{% endif %}
</p>