<p>
{% if age < 18 %}
    The Name Change and/or Sex Designation Change Petition for 
Individual Adult (UCS-NC1) has some sections that you will 
need to fill out and others you will need to review. Look 
through sections A, B, and C to see if the information is 
accurate. If it's not then type in the missing info or fill out 
with black ink if it's already printed. You will need to sign 
with your current legal name below item 30 on the last page but 
do <strong>not</strong> additionally sign on the line that reads 
“Petitioner Signature in Presence of Notary” until you meet 
with one.
{% endif %}
</p>