span.subtitle {
    color: #777;
    font-size: smaller;
    line-height: 1;
}

form {
    display: flex;
    flex-direction: column;
    grid-gap: 1rem;
}

label div {
    display: flex;
    flex-direction: column;
    grid-gap: 0.25rem;
    margin-bottom: 0.25rem;
}

div.name {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.5fr;
    grid-gap: 0.25rem;
}

label.checkbox {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: start;
    grid-gap: 0.25rem;
}
