<p>Thank you for using Transpapers! This
document is a customized guide for your situation and county. It will
walk you through every step of the name change process in detail. Please
notify us of any issues, tips, requests, or other feedback by filling
out the form located at <a
href="https://tinyurl.com/mgdc-feedback">https://tinyurl.com/mgdc-feedback</a>.
If you are directed to do something else by the court or a clerk, please
follow their directions and let us know. If you still need help,
additional resources are listed on the last page of this guide.</p>

<p>In the rest of this document, “you” will refer to the individual
whose name and/or gender is to be legally changed.
{% if age < 18 %}
	“Your parent(s)” will refer to that individual’s legal custodian(s),
	meaning their biological or adoptive parent(s), legal guardian(s), or
	other individual(s) acting <em>in loco parentis.</em>
{% endif %}
</p>
