<p>Warning, do not attempt to update your gender marker on this form unless
you meet these conditions. You need an updated social security gender marker
from before January 31st 2025, an updated drivers license or state ID, 
and an updated birth certificate that does not have your original sex at birth on it.
If you have those documents and have never had a passport before you are safe to mark your
preferred gender in section 3. If you don't you will need to mark your assigned 
sex at birth in that section instead.
</p>
	
<p>This step should be started after you have updated your primary ID.
Your form is the DS-11 which is an in-person appointment form. Pages 1-4
contain instructions and clarification, on page 5 at the top you will need
to select which documents you want. Then fill out your social security number in 
section 5. If you have changed your name multiple times before
then you will need to add them to section 9. For the photo we suggest going to a
business for the highest chance of success. <strong>Do not staple it to the form.</strong>
For section 10 on page 6 please fill out your parents place of birth,
legal gender, and citizenship. On page 6 complete sections 11 through 21
as they apply to you. For section 18 if you have no current travel plans
write "none" in every box.</p>

<p>
Now you will need to go to a location that you can apply in with this
form, your primary id, a checkbook for fees, and your photo. You can 
find application locations at his URL: <a
href="https://iafdb.travel.state.gov/">https://iafdb.travel.state.gov/</a>.

{% if age < 16 %}
	You will need to appear with both parents/guardians if available.
		{% if parentsAreOkay == false %}
    		If adults cannot be present then the attending adult will need to bring
			a <a href="DS-3053">https://eforms.state.gov/Forms/ds3053.pdf</a>
			consent form filled out by the non-attending parent,
			a custody order, or a death certificate.
		{% endif %}
{% elif age < 18 %}
	You will need to appear with at least one parent/guardian.
{% endif %}
	
If you have had a passport in the past then you should bring it and a certified
copy of your court order. It will likely take several weeks for them to process 
a nonexpedited request, you can keep tabs on it using this url: <a
href="https://passportstatus.state.gov/">https://passportstatus.state.gov/</a></p>
