<p> The main form is the "Petition for Name Change and Ex Parte Request
for Nonpublication and Confidential Record" or PC51c. This form will keep
the process confidential and make sure that even if there is a hearing
it will be private with no publication of your information.
</p>

<p> If necessary, complete <strong>item 1</strong> (concerning active court
cases), <strong>item 8</strong>, and <strong>item 9</strong> (concerning criminal records).

{% if age < 18 %}
	Also fill out <strong>item
	4</strong>, <strong>item 5</strong>, and <strong>item 10</strong> as applicable. The parent that is 
	filing this at court should date and sign the bottom of pages 2, 3, and complete the 
	“Signature of Parent/Guardian for Minor” section on page 4. The other should complete 
	the "Consent by Spouse of Petitoner" on page 4. If one of your parent(s) 
	is deceased or noncustodial then only the first signature is needed. 
	If both are deceased or noncustodial your legal guardian should do the above 
	instead and attach copies of their letters of guardianship to this form.
	{% if age >= 14 %}
		Finally you should sign in both of the "Consent by Minor" sections on page 4.
	{% else %}
		Since you are below the age of 14 you should <strong>not</strong> 
		sign the first "Consent by Minor" section but should instead sign the second.
	{% endif %}
{% else %}
	Sign with your legal name and date on page 2, in the field labeled 
	“Petitioner's Signature.” Do the same on the bottom of page 3.
{% endif %}
</p>
