<ul>
<li><a
href="https://www.michigan.gov/mdhhs/-/media/Project/Websites/mdhhs/Doing-Business-with-MDHHS/Birth-Death-Marriage-and-Divorce-Records/Photo_ID_Alternative_Documents.pdf">https://www.michigan.gov/mdhhs/-/media/Project/Websites/mdhhs/Doing-Business-with-MDHHS/Birth-Death-Marriage-and-Divorce-Records/Photo_ID_Alternative_Documents.pdf</a></li>
<li><a href="https://grtransfoundation.org/update-program/">Grand Rapids
Trans Foundation</a>: Helps people with the name change process in Kent
county and provides general support and resources to the trans
community.</li>
<li><a
href="https://corktownhealth.org/transgender-name-clinic-available/">Transgender
Name Change Clinic</a>: Helps low income trans people changing their
name &amp; gender markers in Oakland, Macomb, and Wayne county.</li>
</ul>