<p>Once you have completed all the initial forms, you are ready to
file. 
{% if county == Saginaw %}
	Please note that Saginaw County requires for form PC 51c to be 
	filed in triplicate, we suggest printing three copies of it.
{% endif %}
</p>
