<p>On the day of your hearing, you{% if age < 18 %} and your parent(s){%
endif %} should dress appropriately for a courtroom, even if the hearing
is virtual. The hearing may begin late, but it should only take a few
minutes once it starts.</p>
<p>Please note that your hearing is public, and it is possible for
others to attend, including objectors. If this is a concern for you,
consider an in-person hearing, and bring supportive friends.</p>
<p>You{% if age < 18 %}r parent(s){% endif %} will be sworn in and
questioned. The questions vary from court to court, but you can expect
some of the following:</p>
<ul>
<li>What is your current legal name?</li>
<li>What is your desired legal name?</li>
<li>What is your date of birth?</li>
<li>Have you lived in this county for over a year?</li>
<li>Are you doing this for fraudulent reasons?</li>
<li>Have you paid the publication fee to an approved newspaper?</li>
<li>In your own words, why do you want to change your name?</li>
<li>Is there anything else you’d like the court to know?</li>
<li>You may also be asked “Do you know of anyone who would oppose this
name change?” The authors of this guide are not lawyers, but our understanding is
that, having answered “no” to the “fraudulent reasons” question,
you can answer “no” to this one. In particular, <strong>you
can safely disregard any “opposition” on purely transphobic
grounds.</strong> (Compare the history of the phrase “speak now or
forever hold your peace.”)</li>
</ul>
<p>At this point the name change should be granted and the hearing
should end promptly. The document that you will get afterward we
will call the “court order”. You will probably be asked whether you
want to pick up your court order at the court or have it mailed. The
court should have the order ready for pickup within a few hours or the
next day. Mailing the order will take several days. Be sure to request a
certified copy of your court order.</p>
<p>Once you have the certified copy of the court order, you are ready to
file with the Social Security administration. Keep the original court
order in a safe place.</p>