<p>
	The first form to be filed is the Change 
of Name (form PC8.1). On the bottom section
of the first page fill out any previous addresses 
that you have resided at. If you have changed
your name before, check the “Yes” box 
and attach a copy of those documents 
otherwise check “No”. Do <strong>not</strong>
sign it or fill out anything on page 2, that's
for a notary later.
</p>